<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="RentIt02Entities" connectionString="metadata=res://*/ISeeNModel.csdl|res://*/ISeeNModel.ssdl|res://*/ISeeNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rentit.itu.dk;initial catalog=RentIt02Test;persist security info=True;user id=RentIt02db;password=ZAQ12wsx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>